
h1{
	font-size: 5em;
	display: block;
	margin:5%;
	text-align: center;
	color: rgb(95, 232, 129);
}
body{
	
	background-color: rgb(94, 3, 252);
	background-size: cover;
	font-family: roots_n_branchesregular;
	color: rgb(0, 235, 235);
	}

section{
	font-size: 2.5em;
}
ul{
	font-size: 1em;
}
 select{
 	border-radius: 5px;
 	border-color: rgb(0, 255, 255);
 	font-family: roots_n_branchesregular;
 	font-size: .6em;
 	color:rgb(94, 3, 252);
 	
 }

input{
	border-radius: 5px;
 	border-color: rgb(0, 255, 255);
 	font-family: roots_n_branchesregular;
 	font-size: .9em;
 	color:rgb(94, 3, 252);
}

img{
	width: 100%;
	margin: auto;
	}

li{
	margin: 5% 0;
}



#container{ /*A box that will contain the entire website for centering purposes*/
	width:100%; /*The container will try to fill the entire browser window width*/
	max-width:1280px; /*the maximum width the container will grow to*/
	margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
	padding:0px;
	box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/
	display:flex;
	flex-wrap:wrap; /*wrap, nowrap, wrap-reverse*/
	flex-direction:row; /*row, row-reverse, column, column-reverse*/
	align-content:flex-start; /*flex-start, flex-end, center, stretch, space-between, space around*/
	align-items:stretch; /*flex-end, center, stretch, baseline*/
}

.halfwidth{
	background-color:rgba(134, 115, 230,.5);
	margin:2%;
	width:46%;
	padding:2%;
	box-sizing:border-box;
	border-radius: 30px;
	outline: rgb(0,255,255);
}

.halfwidth1{
	margin:2%;
	width:46%;
	padding:2%;
	box-sizing:border-box;
	border-radius: 30px;
	outline: rgb(0,255,255);
}

@media all and (min-width:450px) and (max-width: 1200px){

.half-row{
	width: 96%;
	margin: .75em 2%;
	padding: 1em;
	box-sizing: border-box;
	font-family: roots_n_branchesregular;
}
}


@font-face { /* import font from computer */
    font-family: 'roots_n_branchesregular';
    src: url('../fonts/main/roots_n_branches-webfont.eot');
    src: url('../fonts/main/roots_n_branches-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/main/roots_n_branches-webfont.woff2') format('woff2'),
         url('../fonts/main/roots_n_branches-webfont.woff') format('woff'),
         url('../fonts/main/roots_n_branches-webfont.ttf') format('truetype'),
         url('../fonts/main/roots_n_branches-webfont.svg#roots_n_branchesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'typewriter_condensedregular';
    src: url('../fonts/type/typewcond_regular-webfont.eot');
    src: url('../fonts/type/typewcond_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/type/typewcond_regular-webfont.woff2') format('woff2'),
         url('../fonts/type/typewcond_regular-webfont.woff') format('woff'),
         url('../fonts/type/typewcond_regular-webfont.ttf') format('truetype'),
         url('../fonts/type/typewcond_regular-webfont.svg#typewriter_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}