

@media all and (min-width: 0px) and (max-width: 500px){ /* 1 */
		body {
			background-image: url(../img/clip1.JPG);
			background-size: cover;

		}


		p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show1{
			display: block;
			
		}

		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }



@media all and (min-width: 501px) and (max-width: 520px){  /* 2 */
		body {
			background-image: url(../img/clip2.JPG);
			background-size: cover;
		}

		p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show2{
			display: block;
			
		}

		.hide1{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }



@media all and (min-width: 521px) and (max-width: 530px){  /* 3 */
		body {
			background-image: url(../img/clip3.JPG);
			background-size: cover;
		}


		p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show3{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }






@media all and (min-width: 531px) and (max-width: 540px){  /* 4 */
		body {
			background-image: url(../img/clip4.JPG);
			background-size: cover;
		}



		p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show4{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }

 



@media all and (min-width: 541px) and (max-width: 550px){  /* 4 */
		body {
			background-image: url(../img/clip5.JPG);
			background-size: cover;
		}

		p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}
}




@media all and (min-width: 551px) and (max-width: 560px){  /* 6 */
		body {
			background-image: url(../img/clip6.JPG);
			background-size: cover;
		}


			p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }







@media all and (min-width: 561px) and (max-width: 570px){  /* 7 */
		body {
			background-image: url(../img/clip7.JPG);
			background-size: cover;
		}


			p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show7{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }



@media all and (min-width: 571px) and (max-width: 580px){  /* 8 */
		body {
			background-image: url(../img/clip8.JPG);
			background-size: cover;
		}




			p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show8{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }

@media all and (min-width: 581px) and (max-width: 590px){  /* 9 */
		body {
			background-image: url(../img/clip9.JPG);
			background-size: cover;
		}

		p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show9{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }


@media all and (min-width: 591px) and (max-width: 600px){  /* 10 */
		body {
			background-image: url(../img/clip10.JPG);
			background-size: cover;
		}


		p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show10{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }


@media all and (min-width: 601px) and (max-width: 610px){  /* 11 */
		body {
			background-image: url(../img/clip11.JPG);
			background-size: cover;
		}


		p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show11{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }






@media all and (min-width: 611px) and (max-width: 620px){  /* 12 */
		body {
			background-image: url(../img/clip12.JPG);
			background-size: cover;
		}

			p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show12{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }

@media all and (min-width: 621px) and (max-width: 630px){  /* 13 */
		body {
			background-image: url(../img/clip13.JPG);
			background-size: cover;
		}


			p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show13{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }


@media all and (min-width: 631px) and (max-width: 640px){  /* 14 */
		body {
			background-image: url(../img/clip14.JPG);
			background-size: cover;
		}


			p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show14{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }


@media all and (min-width: 641px) and (max-width: 650px){  /* 15 */
		body {
			background-image: url(../img/clip15.JPG);
			background-size: cover;
		}


			p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show15{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}
   }



@media all and (min-width: 651px) and (max-width: 660px){  /* 16 */
		body {
			background-image: url(../img/clip16.JPG);
			background-size: cover;
		}

					p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show16{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}


   }

@media all and (min-width: 661px) and (max-width: 670px){  /* 17 */
		body {
			background-image: url(../img/clip17.JPG);
			background-size: cover;
		}

				p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show17{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}


   }

@media all and (min-width: 671px) and (max-width: 680px){  /* 18 */
		body {
			background-image: url(../img/clip18.JPG);
			background-size: cover;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }

@media all and (min-width: 681px) and (max-width: 690px){  /* 19 */
		body {
			background-image: url(../img/clip19.JPG);
			background-size: cover;
		}
			.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }

@media all and (min-width: 691px) and (max-width: 700px){  /* 20 */
		body {
			background-image: url(../img/clip20.JPG);
			background-size: cover;
		}
			.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }

@media all and (min-width: 701px) and (max-width: 710px){ /* 21 */
		body {
			background-image: url(../img/clip21.JPG);
			background-size: cover;
		}
			.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }

@media all and (min-width: 711px) and (max-width: 720px){ /* 22 */
		body {
			background-image: url(../img/clip22.JPG);
			background-size: cover;
		}
			.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }

@media all and (min-width: 721px) and (max-width: 730px){ /* 23 */
		body {
			background-image: url(../img/clip23.JPG);
			background-size: cover;
		}
			.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }


@media all and (min-width: 731px) and (max-width: 740px){ /* 24 */
		body {
			background-image: url(../img/clip24.JPG);
			background-size: cover;
		}
			.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }


@media all and (min-width: 741px) and (max-width: 750px){ /* 25 */
		body {
			background-image: url(../img/clip25.JPG);
			background-size: cover;
		}
			.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }


@media all and (min-width: 751px) and (max-width: 760px){ /* 26 */
		body {
			background-image: url(../img/clip26.JPG);
			background-size: cover;
		}
			.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }

@media all and (min-width: 761px) and (max-width: 770px){ /* 27 */
		body {
			background-image: url(../img/clip27.JPG);
			background-size: cover;
		}
			.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }

@media all and (min-width: 771px) and (max-width: 780px){ /* 28 */
		body {
			background-image: url(../img/clip28.JPG);
			background-size: cover;
		}
			.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }

@media all and (min-width: 781px) and (max-width: 790px){ /* 29 */
		body {
			background-image: url(../img/clip29.JPG);
			background-size: cover;
		}
			.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }

@media all and (min-width: 791px) and (max-width: 800px){ /* 30 */
		body {
			background-image: url(../img/clip30.JPG);
			background-size: cover;
		}

		p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show30{
			display: block;
		}
			.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}

		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }






@media all and (min-width: 801px) and (max-width: 810px){ /* 31 */
		body {
			background-image: url(../img/clip31.JPG);
			background-size: cover;
		}


			p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show31{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}


   }

@media all and (min-width: 811px) and (max-width: 820px){ /* 32 */
		body {
			background-image: url(../img/clip32.JPG);
			background-size: cover;
		}


			p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show32{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

   }
 
@media all and (min-width: 821px) and (max-width: 830px){ /* 33 */
		body {
			background-image: url(../img/clip33.JPG);
			background-size: cover;
		}
			p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 2em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;

			border-style: solid;
			border-color:rgba(48, 12, 8,.9);
		}

		.show33{
			display: block;
		}

		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide34{
			display: none;
		}
		.hide35{
			display: none;
		}

}


@media all and (min-width: 831px){  /* 35 */
		body {
			background-color: black;
			background-size: cover;
		}

			p{

			font-family: 'angel_rhapsodyregular' ;
			font-size: 4em;
			color: rgb(181, 166, 91);
			border: 10%;
			padding: 1%;
			background:rgba(0,0,0,.8);
			text-align: center;
			width: 80%;
			margin: 10%;
		}
		.show34{
			display: block;
		}
		.show35{
			display: block;
		}
		.hide1{
			display: none;
		}
		.hide2{
			display: none;
		}
		.hide3{
			display: none;
		}
		.hide4{
			display: none;
		}
		.hide5{
			display: none;
		}
		.hide6{
			display: none;
		}
		.hide7{
			display: none;
		}
		.hide8{
			display: none;
		}
		.hide9{
			display: none;
		}
		.hide10{
			display: none;
		}
		.hide11{
			display: none;
		}
		.hide12{
			display: none;
		}
		.hide13{
			display: none;
		}
		.hide14{
			display: none;
		}
		.hide15{
			display: none;
		}
		.hide16{
			display: none;
		}
		.hide17{
			display: none;
		}
		.hide18{
			display: none;
		}
		.hide19{
			display: none;
		}
		.hide20{
			display: none;
		}
		.hide21{
			display: none;
		}
		.hide22{
			display: none;
		}
		.hide23{
			display: none;
		}
		.hide24{
			display: none;
		}
		.hide25{
			display: none;
		}
		.hide26{
			display: none;
		}
		.hide27{
			display: none;
		}
		.hide28{
			display: none;
		}
		.hide29{
			display: none;
		}
		.hide30{
			display: none;
		}
		.hide31{
			display: none;
		}
		.hide32{
			display: none;
		}
		.hide33{
			display: none;
		}


}


@font-face {
    font-family: 'angel_rhapsodyregular';
    src: url('../fonts/angelrhapsodyregular-zvgjz-webfont.eot');
    src: url('../fonts/angelrhapsodyregular-zvgjz-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/angelrhapsodyregular-zvgjz-webfont.woff2') format('woff2'),
         url('../fonts/angelrhapsodyregular-zvgjz-webfont.woff') format('woff'),
         url('../fonts/angelrhapsodyregular-zvgjz-webfont.ttf') format('truetype'),
         url('../fonts/angelrhapsodyregular-zvgjz-webfont.svg#angel_rhapsodyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}